<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="nextpage()">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Attendance Regularization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="12">
             <ion-item class="text-size-xs ion-text-wrap ion-text-left">
              <ion-label class="text-size-xs" position="floating">
                Date</ion-label> 
                <ion-icon slot="end" name="calendar"></ion-icon> 
                <ion-input
                  value="{{ d_date | date: 'dd/MM/YYYY' }}"
                  id="d_date"
                  class="ion-text-left" 
                ></ion-input>
                <ion-popover trigger="d_date" show-backdrop="false">
                  <ng-template> 
                    <ion-datetime
                      [showDefaultButtons]="true"
                      presentation="date"
                      [(ngModel)]="d_date" 
                    ></ion-datetime>
                  </ng-template>
                </ion-popover> 
              </ion-item> 

              <ion-item class="text-size-xs ion-text-wrap ion-text-left">
                <ion-label class="text-size-xs" position="floating">
                  In Time</ion-label> 
                  <ion-icon slot="end" name="time"></ion-icon> 
                  <ion-input
                    value="{{ in_time | date: 'HH:mm' }}"
                    id="in_time"
                    class="ion-text-left" 
                  ></ion-input>
                  <ion-modal trigger="in_time" show-backdrop="false">
                    <ng-template> 
                      <ion-datetime
                        [showDefaultButtons]="true"
                        [(ngModel)]="in_time" 
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal> 
                </ion-item> 

                <ion-item class="text-size-xs ion-text-wrap ion-text-left">
                  <ion-label class="text-size-xs" position="floating">
                    Out Time</ion-label> 
                    <ion-icon slot="end" name="time"></ion-icon> 
                    <ion-input
                      value="{{ out_time | date: 'HH:mm' }}"
                      id="out_time"
                      class="ion-text-left" 
                    ></ion-input>
                    <ion-modal trigger="out_time" show-backdrop="false">
                      <ng-template> 
                        <ion-datetime
                          [showDefaultButtons]="true"
                          [(ngModel)]="out_time" 
                        ></ion-datetime>
                      </ng-template>
                    </ion-modal> 
                  </ion-item> 

                  <!-- <ion-item class="text-size-xs ion-text-wrap ion-text-left">
                    <ion-label class="text-size-xs" position="floating">
                      Time</ion-label> 
                      <ion-icon slot="end" name="time"></ion-icon> 
                      <ion-input
                        value="{{ out_time | date: 'HH:mm' }}"
                        id="out_time"
                        class="ion-text-left" 
                      ></ion-input>
                      <ion-popover trigger="out_time" show-backdrop="false">
                        <ng-template> 
                          <ion-datetime
                            [showDefaultButtons]="true"
                            presentation="date" 
                            [(ngModel)]="out_time" 
                          ></ion-datetime>
                        </ng-template>
                      </ion-popover> 
                    </ion-item>  -->

             

            <ion-item class="text-size-xs ion-text-wrap ion-text-left">
              <ion-label class="text-size-xs" position="floating">
                Reason</ion-label>
                <ion-input type="text" [(ngModel)]="reason"></ion-input>
             </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-text-end">
            <ion-button *ngIf="this.saveClicked == false" shape="round" class="button-round ion-margin-top"
              fill="outline" (click)="SaveAttendanceReguralization(); clearFields();">
              <ion-icon name="save-outline"></ion-icon>&nbsp;
              <!-- <ion-icon slot="start" name="save"></ion-icon> -->
              Save
           </ion-button>
           <ion-button *ngIf="this.saveClicked == true" shape="round" class="button-round ion-margin-top"
           fill="outline"> Saving&nbsp;&nbsp;
             <ion-spinner name="bubbles"></ion-spinner>
           </ion-button>
           </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
</ion-content>
 