<ion-header>
  <ion-toolbar>  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>view weekly off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h3 class="ion-text-center" *ngIf="weekly_off_list == ''">No Data Found!</h3>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center" *ngFor="let data of weekly_off_list;let id = index;">
          <ion-card-content class="ion-text-left" >
            <!-- <span class="span-small font-bold">On : </span> <b>{{data.date}}</b> <br>
            <span class="span-small font-bold">In Time : </span> <b>{{data.in_time}}</b> <br>
            <span class="span-small font-bold">Out Time : </span> <b>{{data.out_time}}</b> <br>
            <span class="span-small font-bold">Reason : </span> <b>{{data.reason}}</b> <br>
            <span class="span-small font-bold">Status : </span> <b>{{data.status}}</b> <br> -->
            <h2 class="text-size-xs ion-text-wrap ion-text-left">
              <b>On <span class="span-small">{{data.weekly_off_date}}</span> for
                <span class="span-small">{{data.notes}}</span>,  
                the status is {{data.status}}
              </b>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
