<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>View On Duty Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h3 class="ion-text-center" *ngIf="on_duty_request_list == ''">No Data Found!</h3>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center" *ngFor="let data of on_duty_request_list;let id = index;">
          <ion-card-content class="ion-text-left" >
            <span class="span-small font-bold">Travel Type : </span> <b>{{data.travel_type}}</b> <br>
            <span class="span-small font-bold">Place Of Visit : </span> <b>{{data.place_of_visit}}</b> <br>
            <span class="span-small font-bold">Travel Start Date : </span> <b>{{data.travel_start_date}}</b> <br>
            <span class="span-small font-bold">Travel End Date : </span> <b>{{data.travel_end_date}}</b> <br>
            <span class="span-small font-bold">Reason For Travel : </span> <b>{{data.reason_for_travel}}</b> <br>
            <ion-col size="12" class="ion-text-end">
              <ion-button style="float: right;" color="danger" class="button-round ion-margin" (click)="chooseAction(data.internal_code);" fill="outline">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>

              <ion-button style="float: right;" shape="round" class="button-round ion-margin" fill="outline" (click)="GoBackOnDutyReqPage()"> 
                <ion-icon name="backspace-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
