
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Change Password</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent background-size">
    <ion-grid class="ion-padding">
      <!--- SETTINGS LOGIN SCREEN -->
      <ion-row class="ion-align-items-center">
        <ion-col class="background-white box-shadow border-radius ion-padding"
        size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img src="assets/imgs/logo/logo.PNG"></ion-img>
          <div class="clearfix"></div>
          <br>
          <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label text-size-xs position="floating">Old Password
            </ion-label>
            <ion-input required type="password" [(ngModel)]="old_password"></ion-input>
          </ion-item>
          
          <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label text-size-xs position="floating">New Password
            </ion-label>
            <ion-input required type="password" [(ngModel)]="new_password"></ion-input>
          </ion-item>

          <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label class="text-size-xs" position="floating">Confirm New Password
            </ion-label>
            <ion-input required type="password" [(ngModel)]="confirm_password"></ion-input>
          </ion-item>

          <!-- <ion-item class="text-size-sm ion-no-padding transparent input">
            <ion-label text-size-xs position="floating">Confirm New Password
            </ion-label>
            <ion-input required type="password" [(ngModel)]="confirm_password"></ion-input>
            <ion-icon icon-small name="remove-circle">
            </ion-icon>
          </ion-item> -->

          <!---Done button-->
        </ion-col>
          <ion-col size="12" class="ion-text-end">
            <ion-button *ngIf="this.saveClicked == false" shape="round"  class="button-round ion-margin-top"
            fill="outline" (click)="SubmitPsw();">
            <ion-icon name="key-sharp"></ion-icon>&nbsp;
            Confirm
            </ion-button>
            <ion-button *ngIf="this.saveClicked == true" shape="round" class="button-round ion-margin-top"
            fill="outline"> Changig&nbsp;&nbsp;
              <ion-spinner name="bubbles"></ion-spinner>
            </ion-button>
          </ion-col>

       
      </ion-row>
    </ion-grid>
  </ion-content>
