<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{short_name}}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <br>
  <h3 class="ion-text-center" *ngIf="leave_details == ''">No Data Found!</h3>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center" *ngFor="let data of leave_details;let id = index;"> 
          <ion-card-content class="ion-text-left" >
            <span class="span-small font-bold">From Date : </span> <b>{{data.from_date}}</b> <br>
            <span class="span-small font-bold">To Date : </span> <b>{{data.to_date}}</b> <br>
            <span class="span-small font-bold">No Of Days : </span> <b>{{data.no_of_days}}</b> <br>
            <span class="span-small font-bold">Reason : </span> <b>{{data.reason}}</b> <br>
            <span class="span-small font-bold">Approval status : </span> <b>{{data.status}}</b> <br>
          </ion-card-content>
        </ion-card>
      </ion-col>  
    </ion-row> 
  </ion-grid>
</ion-content>
