<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="ViewClaimEntryPage()">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Claim Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="items_clicked" color="primary">
    <ion-fab-button color="primary" *ngIf="this.getting_item_data == true">
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-fab-button>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar slot="top">
    </ion-tab-bar>
</ion-tabs>

    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button  value="claims">
        <ion-label>Claim</ion-label>
      </ion-segment-button>
      <ion-segment-button value="details" >
        <ion-label>Details</ion-label>
      </ion-segment-button>
    </ion-segment>


  <div [ngSwitch]="tabs">
    <ion-list *ngSwitchCase="'claims'">
       <ion-item class="text-size-xs ion-text-wrap ion-text-left" (ionChange)="CheckClaimType()">
          <ion-label class="text-size-xs" position="floating">
            Claim Type</ion-label>
            <ion-select #finYearSelector [(ngModel)]="claim_type" (ionChange)="GetClaimCatagoryList();" interface="action-sheet">
              <ion-select-option *ngFor="let data of claim_list" [value]="data ">
                {{data}}
              </ion-select-option>
            </ion-select>
       </ion-item>

       <!-- <ion-item (click)="look_up_value_list();" class="text-size-xs ion-text-wrap ion-text-left">
        <ion-label class="text-size-xs" position="floating">
          City Category</ion-label>
          <ion-input type="text" [(ngModel)]="txt_ref_schema_city_category"></ion-input>
          <ion-icon slot="end" color="black" name="search" size="small" class="button-round ion-margin-top"
          fill="outline">
          </ion-icon>
        </ion-item> -->

       <ion-item class="text-size-xs ion-text-wrap ion-text-left" *ngIf="show_city_cat" (click)="getLookUpValueList();">
        <ion-label class="text-size-xs" position="floating">  
          City Category</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="city_category"></ion-input> -->
          <ion-select [(ngModel)]="city_category"  interface="action-sheet">
            <ion-select-option *ngFor="let data of look_up_value_list" [value]="data.internal_code">{{data.value}}
            </ion-select-option>
          </ion-select>
       </ion-item>

      <ion-item class="text-size-xs ion-text-wrap ion-text-left" *ngIf="show_date">
        <ion-label class="text-size-xs" position="floating">
          Start Date</ion-label>
        <ion-icon slot="end" name="calendar"></ion-icon> 
          <ion-input
            value="{{ start_date | date: 'dd/MM/YYYY' }}"
            id="start_date"
            class="ion-text-left"
          ></ion-input>
          <ion-modal trigger="start_date" show-backdrop="false">
            <ng-template> 
              <ion-datetime
                [showDefaultButtons]="true" 
                presentation="date"
                [(ngModel)]="start_date" 
              ></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item> 

      <ion-item class="text-size-xs ion-text-wrap ion-text-left" *ngIf="show_date">
        <ion-label class="text-size-xs" position="floating">
          End Date</ion-label>
        <ion-icon slot="end" name="calendar"></ion-icon> 
          <ion-input
            value="{{ end_date | date: 'dd/MM/YYYY' }}"
            id="end_date"
            class="ion-text-left" 
          ></ion-input>
          <ion-modal trigger="end_date" show-backdrop="false">
            <ng-template> 
              <ion-datetime
                [showDefaultButtons]="true"
                presentation="date"
                [(ngModel)]="end_date" 
              ></ion-datetime>
            </ng-template>
          </ion-modal> 
      </ion-item> 

      <div>
        <span style="float:right;margin-top: 20px;margin-bottom: 20px;" class="span-small" (click) = "ShowDetails();"> 
          Details 
          <ion-icon name="caret-forward-sharp"></ion-icon>
        </span>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'details'">
      <ion-card style="margin: 1%;padding: 0;height: 100%;overflow: auto;">
        <ion-item (click)="ClaimEntryDetailsPage()">
           <span class="span-small font-bold"><b>Claim &nbsp;</b></span>
          <ion-icon name="add-circle-sharp" color="tertiary"></ion-icon>
         </ion-item>
        <ion-list>
          <ion-item *ngFor="let data of payload.claim_entry_details_group;let id = index;">
            <ion-label>
              <span class="span-small font-bold">Date : </span> <b>{{data.claim_date}}</b> <br>
              <span class="span-small font-bold">Component : </span> <b>{{data.txt_ref_schema_component}}</b> <br>
              <span class="span-small font-bold">Kilometers : </span> <b>{{data.kilometers}}</b> <br>
              <span class="span-small font-bold">From Place : </span> <b>{{data.from_place}}</b> <br>
              <span class="span-small font-bold">To Place : </span> <b>{{data.to_place}}</b> <br>
              <span class="span-small font-bold">Amount : </span> <b>{{data.amount}}</b> <br>
              <span class="span-small font-bold">Remarks : </span> <b>{{data.remarks}}</b> <br>
              <span class="span-small font-bold" *ngIf="data.attachment1 != ''">Attachment : 
              <b><a target="new" href="{{data.attachment1}}">Download</a></b>&nbsp; <ion-icon name="cloud-download-sharp"></ion-icon></span> 

              <ion-col size="12" class="ion-text-end">
                <ion-button style="float: right;"  color="danger" class="button-round ion-margin" (click)="chooseAction(data,id)"
                  fill="outline">
                  <ion-icon name="trash-outline"></ion-icon> 
               </ion-button>

               <ion-button style="float: right;" shape="round" class="button-round ion-margin" (click)="editItems(data, id)"
               fill="outline"> 
                <ion-icon name="create-sharp"></ion-icon>
               </ion-button>
              </ion-col>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
          <ion-footer>
            <ion-row>
            <ion-col size="12" class="ion-text-end">
              <ion-button *ngIf="this.saveClicked == false" shape="round" class="button-round ion-margin-top"
                fill="outline" (click)="SaveClaimEntry();">
                <ion-icon name="save-outline"></ion-icon>&nbsp;
                <!-- <ion-icon slot="start" name="save"></ion-icon> -->
                Save
              </ion-button>

                <ion-button *ngIf="this.saveClicked == true" shape="round" class="button-round ion-margin-top"
                fill="outline"> Saving&nbsp;&nbsp;
                  <ion-spinner name="bubbles"></ion-spinner> 
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
    </ion-list>
  </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>