<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Regularization Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-tabs>
          <ion-tab-bar style="height: 70px;margin-top: 0px;" slot="top">
          </ion-tab-bar>
        </ion-tabs>

        <ion-segment [(ngModel)]="tabs" (ionChange)="onSegmentChange()">
          <ion-segment-button value="pending">
            <ion-label>Pending</ion-label>
            <ion-icon name="time-sharp"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  value="approve">
            <ion-label>Approved</ion-label>
            <ion-icon name="checkmark-done-sharp"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="reject">
            <ion-label>Rejected</ion-label>
            <ion-icon name="ban-sharp"></ion-icon>
          </ion-segment-button>
        </ion-segment>

          <!-- <ion-card class="ion-padding ion-text-center " style="margin:0%"> -->
            <h2 class="span-small" style="text-align:center;"><b>Month</b></h2> 
            <ion-input style="background-color:#eeeeef;" value="{{ d_date | date: 'MMMM-YYYY' }}"  id="d_date"  class="ion-text-center">
              <ion-icon slot="end" size="medium" style="color:black" name="calendar"></ion-icon> 
            </ion-input>
              <ion-popover trigger="d_date" show-backdrop="false">
                <ng-template> 
                  <ion-datetime
                    [showDefaultButtons]="true" 
                    presentation="month-year"
                    [(ngModel)]="d_date"
                    (ionChange)="GetMonthWiseData();"
                  ></ion-datetime>
                </ng-template>
              </ion-popover>
          <!-- </ion-card>  -->
            <br>


        <div [ngSwitch]="tabs">
          <ion-list *ngSwitchCase="'pending'">
            <!-- <br> -->
            <h3 class="ion-text-center" *ngIf="employee_data == '' || employee_data == null">No Data Found!</h3>
            <ion-reorder-group disabled="false">
              <ion-item lines="none" *ngFor="let data of employee_data;let id = index;">
              
                <div style="padding:0px;">
                  <span slot="start" class="span-medium font-bold">{{data.day_image}}</span>
                  <h4 slot="start" style="margin:0px;" class="span-small">{{data.day_of_week}} &nbsp;</h4>
                </div>
  
                <ion-label> 
                  <ion-label>
                    <h2 *ngIf="!employee" class="text-size-lg">{{data.employee}}</h2>
                    <h4 class="text-size-sm"> IN &nbsp; &nbsp;:  {{data.in_time}} <br/> OUT  : {{data.out_time}}</h4>
                    <h4 class="text-size-sm"> Reason  : {{data.reason}}</h4>
                  </ion-label>
                </ion-label> 
              </ion-item>  
            </ion-reorder-group> 
          </ion-list>

          <ion-list *ngSwitchCase="'approve'">
            <!-- <br> -->
            <h3 class="ion-text-center" *ngIf="employee_data == '' || employee_data == null">No Data Found!</h3>
            <ion-reorder-group disabled="false">
              <ion-item lines="none" *ngFor="let data of employee_data;let id = index;">
              
                <div style="padding:0px;">
                  <span slot="start" class="span-medium font-bold">{{data.day_image}}</span>
                  <h4 slot="start" style="margin:0px;" class="span-small">{{data.day_of_week}} &nbsp;</h4>
                </div>
  
                <ion-label>
                  <ion-label>
                    <h2 *ngIf="!employee" class="text-size-lg">{{data.employee}}</h2>
                    <h4 class="text-size-sm"> IN &nbsp; &nbsp;:  {{data.in_time}} <br/> OUT  : {{data.out_time}}</h4>
                    <h4 class="text-size-sm"> Reason  : {{data.reason}}</h4>
                  </ion-label>
                </ion-label>
              </ion-item>  
            </ion-reorder-group>  
          </ion-list>

          <ion-list *ngSwitchCase="'reject'">
            <!-- <br> -->
            <h3 class="ion-text-center" *ngIf="employee_data == '' || employee_data == null">No Data Found!</h3>
            <ion-reorder-group disabled="false">
              <ion-item lines="none" *ngFor="let data of employee_data;let id = index;">
              
                <div style="padding:0px;">
                  <span slot="start" class="span-medium font-bold">{{data.day_image}}</span>
                  <h4 slot="start" style="margin:0px;" class="span-small">{{data.day_of_week}} &nbsp;</h4>
                </div>
  
                <ion-label>
                  <ion-label>
                    <h2 *ngIf="!employee" class="text-size-lg">{{data.employee}}</h2>
                    <h4 class="text-size-sm"> IN &nbsp; &nbsp;:  {{data.in_time}} <br/> OUT  : {{data.out_time}}</h4>
                    <h4 class="text-size-sm"> Reason  : {{data.reason}}</h4>
                  </ion-label>
                </ion-label>
              </ion-item>  
            </ion-reorder-group> 
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
