<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Holiday List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <br>
    <h3 class="ion-text-center" *ngIf="holiday_list == ''">No Data Found!</h3>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-text-center" *ngFor="let data of holiday_list;let id = index;">
            <ion-card-content class="ion-text-left" >
              <span class="span-small font-bold">{{data.name}}</span><br>
              <b>{{data.date}}</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> 
    </ion-grid>
</ion-content>
